
# VS Code files
.vscode/
*.code-workspace

# Output files
build/

# arduino-ci files
/.bundle/
/.yardoc
Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
vendor
*.gem
.rspec_status
*.bin
*.bin.dSYM